$accent: #fe3e57;
$default: #8b8b8b;
$bg: #f6f6f6;
$title: #29282d;

%quicksad-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  font-weight: 400;
}

%quicksad-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

%Roboto-500 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 500;
}

%Roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%btn {
  padding: 12px 25px;
  text-transform: uppercase;
  color: #fff;
  background-color: $accent;
  @extend %Roboto-500;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
}

@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}